<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bulma.css">
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let cardToggles = document.getElementsByClassName('card-toggle');
            for (let i = 0; i < cardToggles.length; i++) {
                cardToggles[i].addEventListener('click', e => {
                    e.currentTarget.nextElementSibling.classList.toggle('is-hidden');
                    e.currentTarget.classList.toggle('is-selected');

                    var bodyRow = e.currentTarget.nextElementSibling.nextElementSibling;
                    bodyRow.classList.toggle('is-hidden');

                    // load the email body
                    var iframe = bodyRow.getElementsByTagName('iframe')[0];
                    iframe.src = iframe.dataset.src;
                });
            }

            let modalLinks = document.getElementsByClassName('modal-link');
            for (let i = 0; i < modalLinks.length; i++) {
                modalLinks[i].addEventListener('click', e => {
                    e.currentTarget.nextElementSibling.classList.toggle('is-active');
                });
            }

            let modalCloses = document.getElementsByClassName('modal-close');
            for (let i = 0; i < modalCloses.length; i++) {
                modalCloses[i].addEventListener('click', e => {
                    e.currentTarget.parentElement.classList.toggle('is-active');
                });
            }

        });

        window.addEventListener('keydown', function (e) {
            // Capture Control+A for expand all
            if (event.ctrlKey && event.keyCode == 65) {
                console.log('Expanding all');

                let cardToggles = document.getElementsByClassName('card-toggle');
                for (let i = 0; i < cardToggles.length; i++) {
                    cardToggles[i].nextElementSibling.classList.remove('is-hidden');
                    cardToggles[i].nextElementSibling.nextElementSibling.classList.remove('is-hidden');
                }

                event.preventDefault();
            }

            // Capture Control+S for Collapse All
            if (event.ctrlKey && event.keyCode == 83) {
                console.log('Collapsing all');

                let cardToggles = document.getElementsByClassName('card-toggle');
                for (let i = 0; i < cardToggles.length; i++) {
                    cardToggles[i].nextElementSibling.classList.add('is-hidden');
                    cardToggles[i].nextElementSibling.nextElementSibling.classList.add('is-hidden');
                }

                event.preventDefault();
            }

            // Capture Control+W for Collapse All Attachments
            if (event.ctrlKey && event.keyCode == 69) {
                console.log('Collapsing all');

                let cardToggles = document.getElementsByClassName('card-toggle');
                for (let i = 0; i < cardToggles.length; i++) {
                    cardToggles[i].nextElementSibling.classList.add('is-hidden');
                }

                event.preventDefault();
            }

            // Capture Control+Q for expand all attachments
            if (event.ctrlKey && event.keyCode == 81) {
                console.log('Expanding all');

                let cardToggles = document.getElementsByClassName('card-toggle');
                for (let i = 0; i < cardToggles.length; i++) {
                    cardToggles[i].nextElementSibling.classList.remove('is-hidden');
                }

                event.preventDefault();
            }


        });
    </script>

    <!-- Main Email Layout One Tab Per Folder -->
    <div class="tabs is-toggle is-fullwidth">
        <ul>
            {{ for tab in tabs }}
                {{ if tab.name == name }} 
                    <li class="is-active"><a>{{tab.name}}</a></li>
                {{ else }}
                    <li><a href="{{ tab.url }}">{{ tab.name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>

    <!-- Main Content Table -->
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
                <th>Subject</th>
                <th>Attachments</th>
            </tr>
        </thead>
        <tbody>
            {{ for message in messages }}
            
                <tr class="card-toggle">
                    <td>{{ message.date }}</td>
                    <td>{{ message.from }}</td>
                    <td>{{ message.to }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.attachment_count }}</td>
                </tr>

                <!-- Attachment Row -->
                <tr class="is-hidden">
                    <td colspan="5">
                        <div>
                            <table>
                                <tr>
                                    {{ for attachment in message.attachments }}
                                        <td>
                                            {{ if attachment.is_image }}
                                            
                                                <a class="modal-link" href="#nogo">
                                                    <img src="{{ attachment.url }}" height="50" width="50" alt="{{ attachment.url }}" />
                                                </a>
                                                <div class="modal">
                                                    <div class="modal-background"></div>
                                                    <div class="modal-content">
                                                        <p class="image">
                                                            <img src="{{ attachment.url }}" alt="{{ attachment.url }}">
                                                        </p>
                                                    </div>
                                                    <button class="modal-close is-large" aria-label="close"></button>
                                                </div>
                                            {{ else }}
                                                <a href="{{ attachment.url }}">{{ attachment.name }}</a>
                                            {{ end }}
                                        </td>
                                    {{ end }}
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <!-- Body Row -->
                <tr class="is-hidden">
                    <td colspan="5">
                        <div class="card-content">
                            <div class="content">
                                <iframe frameborder="0" allowtransparency="true" style="display:block; width:97vw; height:100vh;" data-src="{{ message.file_name }}"></iframe>
                            </div>
                        </div>
                    </td>
                </tr>

            {{ end }}
        </tbody>
    </table>
</body>
</html>